#custom-translated-content:not(:lang(en)) {
  display: none;
}

html:lang(zh-tw) #custom-translated-content:lang(zh-tw) {
  display: block;
}

html:lang(zh-tw) #custom-translated-content:not(:lang(zh-tw)) {
  display: none;
}

.title[href^="/t/welcome-to-discourse/7"]:lang(zh-tw), .fancy-title[href^="/t/welcome-to-discourse/7"]:lang(zh-tw) {
    visibility: hidden;
    position: relative;
}

.title[href^="/t/welcome-to-discourse/7"]:lang(zh-tw):after, .fancy-title[href^="/t/welcome-to-discourse/7"]:lang(zh-tw):after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "歡迎來到舊金山無乙型肝炎的免費網上支挼小組";
}
